<div class="panel panel-primary"*ngFor="let eType of eventTypes; let idx = index" >
  <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <span class="badge">{{idx + 1}}</span>
                <span class="employee">{{eType.Title}}</span>
            </div>
            <div class="col-sm-3">
                <span>Employee Amount: {{eType.AmountOfEmployee}}</span>
            </div>
            <div class="col-sm-3">
                <span>Department Amount: {{eType.AmountOfDepartment}}</span>
            </div>
            <div class="col-sm-2">
                <img src="app/Img/DeleteRed.png" alt="Delete" width="24" height="24"
                    class="pull-right"
                    (click)="deleteEventType(eType.Id)" />
            </div>
        </div>
      </div>
  </div>
</div>