<h1>{{title}}</h1>

<div class="employee">
    Employee:
    <select (change)="onSelectEmployee($event.target.value)">
      <option *ngFor="let employee of employees" [value]="employee.Id">{{employee.FirstName}} {{employee.LastName}}</option>
    </select>
</div>
<div class="amount">
    Amount: <input [(ngModel)]="payment.Amount" placeholder="Amount">
</div>
<div class="date">
    Date: <input type="date" [(ngModel)]="payment.Date" placeholder="Date">
</div>
<!--<div class="phone">
    Phone: <input [(ngModel)]="employee.Phone" placeholder="Phone">
</div>-->

<button (click)="addPayment(payment);">
  Add
</button>

<button (click)="goBack()">Cancel</button>